<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not_found</title>
    <link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/mdui/0.4.1/css/mdui.min.css">
</head>
<body>
<div class="mdui-container">
    <div class="mdui-card">
        <div class="mdui-card-media">
            <img src="{{url_for('static',filename='404_images/')}}{{img_name}}" style="width: 100%;height: 765px"/>
            <div class="mdui-card-media-covered mdui-card-media-covered-top mdui-card-media-covered-transparent"
                 style="margin-top: 150px;text-align: center">
                <h2>{{back_text}}</h2>
            </div>
            <div class="mdui-card-media-covered mdui-card-media-covered-top mdui-card-media-covered-transparent"
                 style="margin-top: 420px;text-align: center">
                <div class="mdui-card-primary">
                    <a href="/" class="mdui-text-color-blue-grey-100" style="text-decoration: none">
                        <h2>RETURN TO HOME PAGE</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//cdnjs.loli.net/ajax/libs/mdui/0.4.1/js/mdui.min.js"></script>
</body>
</html>