{% extends "main.html" %}
{% block content %}
<!-- 内容 -->
<div class="mdui-container" id="content-main">
    <div class="mdui-container">
        <div class="mdui-row" style="min-height: 500px">
            <div class="mdui-col-sm-6 mdui-col-md-4" style="margin-top: 25px">
                <a href="{{data['link']}}">
                    <div class="mdui-card">
                        <div class="mdui-card-media">
                            <img src="{{url_for('static',filename='images/')}}{{'1.jpg'}}"/>
                            <div class="mdui-card-media-covered mdui-card-media-covered-gradient">
                                <div class="mdui-card-primary">
                                    <div class="mdui-ca mdui-typo-display-1 rd-primary-title">{{data['source_name']}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}