{% extends "main.html" %}
{% block content %}

<head>
    <meta charset="utf-8">
    <title>{{name}}</title>
</head>

<body>
<div class="mdui-container" style="margin-top: 150px;text-align: center">
    <div class="mdui-row" style="min-height: 500px">
        <form action="http://127.0.0.1:5000/api/alter/{{source_alter_id}}" method="post">
            <h2>{{name}}</h2>
            <p>
                source_id：<input type="text" name="source_id" id="source_id" value="{{source_alter_id}}" size="15" disabled />
            </p>
            <p>
                修改  url：<input type="text" name="source_url" id="source_url" size="15"/>
            </p>
            <p>
                修改img：<input type="text" name="source_img" id="source_img" size="15"/>
            </p>
            <p>
                修改name：<input type="text" name="source_name" id="source_name" size="15"/>
            </p>
            <p>
                修改tags：<input type="text" name="source_tags" id="source_tags" size="15">
            </p>
            <input type="submit" value="提交"/>
        </form>
    </div>
</div>

</body>

{% endblock %}