{% extends "main.html" %}
{% block content %}

<head>
    <meta charset="utf-8">
    <title>{{handle_name}}</title>
</head>

<body>
<div class="mdui-container" style="margin-top: 100px;text-align: center">
    <div class="mdui-row" style="min-height: 500px">
        <form action="http://127.0.0.1:5000/api/{{handle_name}}/{{id_img}}" method="post">
            <h2>{{handle_name}}</h2>
            <p class="mdui-textfield mdui-textfield-floating-label mdui-center" style="width: 50%">
                <label class="mdui-textfield-label">url</label>
                <input class="mdui-textfield-input" type="text" name="source_url"/>
            </p>
            <p class="mdui-textfield mdui-textfield-floating-label mdui-center" style="width: 50%">
                <label class="mdui-textfield-label">name</label>
                <input class="mdui-textfield-input" type="text" name="source_name"/>
            </p>
            <p class="mdui-textfield mdui-textfield-floating-label mdui-center" style="width: 50%">
                <label class="mdui-textfield-label">tags</label>
                <input class="mdui-textfield-input" type="text" name="source_tags"/>
            </p>
            <p class="mdui-textfield mdui-textfield-floating-label mdui-center" style="width: 50%">
                <label class="mdui-textfield-label">desc</label>
                <input class="mdui-textfield-input" type="text" name="source_desc"/>
            </p>
            <input type="submit" value="提交"/>
        </form>
    </div>
</div>

</body>

{% endblock %}