<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta name="viewport" content="width=device-width">-->
    <!--<title>首页 - rss订阅</title>-->
    <!--<link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/mdui/0.4.1/css/mdui.min.css">-->
    <!--<link rel="stylesheet" href="./static/css/main.css">-->
<!--</head>-->

<!--<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-indigo">-->
<!--&lt;!&ndash; 头部 &ndash;&gt;-->
<!--<header class="mdui-appbar mdui-appbar-fixed" id="content-header">-->
    <!--<div class="mdui-toolbar mdui-color-theme">-->
        <!--<span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white"-->
              <!--mdui-drawer="{target: '#content-drawer', swipe: true}"><i class="mdui-icon material-icons">menu</i></span>-->
        <!--<div class="mdui-typo-title">rss订阅</div>-->
        <!--<div class="mdui-toolbar-spacer"></div>-->
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a>-->
    <!--</div>-->
<!--</header>-->

<!--&lt;!&ndash; 侧边栏 &ndash;&gt;-->
<!--<div class="mdui-drawer" id="content-drawer">-->
    <!--<ul class="mdui-list">-->
        <!--<li class="mdui-list-item mdui-ripple">-->
            <!--<i class="mdui-list-item-icon mdui-icon material-icons">move_to_inbox</i>-->
            <!--<div class="mdui-list-item-content">rss源</div>-->
        <!--</li>-->
        <!--<li class="mdui-list-item mdui-ripple">-->
            <!--<i class="mdui-list-item-icon mdui-icon material-icons">star</i>-->
            <!--<div class="mdui-list-item-content">设置</div>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->


<!--<header style="height: 64px;position: fixed">-->
<!--<div class="mdui-toolbar mdui-color-light-blue-900 mdui-appbar-fixed">-->
<!--<a id="toggle" href="javascript:;" class="mdui-btn mdui-btn-icon"><i-->
<!--class="mdui-icon material-icons">menu</i></a>-->
<!--<a href="javascript:;" class="mdui-typo-headline">MDUI</a>-->
<!--<a href="javascript:;" class="mdui-typo-title">Title</a>-->
<!--<div class="mdui-toolbar-spacer"></div>-->
<!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
<!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a>-->
<!--</div>-->
<!--</div>-->
<!--</header>-->


<!--<div class="mdui-drawer" id="drawer" style="margin-top: 64px">-->
<!--<ul class="mdui-list">-->
<!--<li class="mdui-list-item mdui-ripple">-->
<!--<i class="mdui-list-item-icon mdui-icon material-icons">move_to_inbox</i>-->
<!--<div class="mdui-list-item-content">Inbox</div>-->
<!--</li>-->
<!--<li class="mdui-list-item mdui-ripple">-->
<!--<i class="mdui-list-item-icon mdui-icon material-icons">star</i>-->
<!--<div class="mdui-list-item-content">Starred</div>-->
<!--</li>-->

<!--</ul>-->
<!--</div>-->

<!--<style>-->
<!--.doc-example-demo .mdui-row > [class*="mdui-col-"],-->
<!--.doc-example-demo [class*="mdui-row-"] > .mdui-col {-->
<!--padding-top: 10px;-->
<!--padding-bottom: 10px;-->
<!--background-color: #E8EAF6;-->
<!--border: 1px solid #C5CAE9;-->
<!--}-->
<!--.doc-example-demo .mdui-row + .mdui-row,-->
<!--.doc-example-demo [class*="mdui-row-"] + [class*="mdui-row-"] {-->
<!--margin-top: 10px;-->
<!--}-->
<!--</style>-->


<!--<script src="//cdnjs.loli.net/ajax/libs/mdui/0.4.1/js/mdui.min.js"></script>-->
<!--<script src="./static/js/drawer.js"></script>-->
<!--</body>-->
<!--</html>-->


<!--mdui-p-t-5-->




<!--<li class="mdui-list-item mdui-ripple">-->
            <!--<i class="mdui-list-item-icon mdui-icon material-icons">cast</i>-->
            <!--&lt;!&ndash;<a class="mdui-list-item-content">rss源</a>&ndash;&gt;-->
            <!--<button class="mdui-btn mdui-color-theme-accent" mdui-menu="{target: '#example-2'}">rss</button>-->
            <!--<ul class="mdui-menu" id="example-2">-->
                <!--<li class="mdui-menu-item">-->
                    <!--<a href="javascript:;" class="mdui-ripple">Refresh</a>-->
                <!--</li>-->
                <!--<li class="mdui-menu-item" disabled>-->
                    <!--<a href="javascript:;">Help & feedback</a>-->
                <!--</li>-->
                <!--<li class="mdui-menu-item">-->
                    <!--<a href="javascript:;" class="mdui-ripple">Settings</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->

        <!--<li class="mdui-list-item mdui-ripple">-->
            <!--<i class="mdui-list-item-icon mdui-icon material-icons">brightness_high</i>-->
            <!--<div class="mdui-list-item-content">设置</div>-->
        <!--</li>-->





#ajax实验
<!--<form id="myform"> //action的值是请求的url地址-->
    <!--<p>-->
        <!--url：<input type="text" name="source_url" id="source_url"/>-->
    <!--</p>-->
    <!--<p>-->
        <!--img：<input type="text" name="source_img" id="source_img"/>-->
    <!--</p>-->
    <!--<p>-->
        <!--name：<input type="text" name="source_name" id="source_name"/>-->
    <!--</p>-->
    <!--<div class="modal-footer">-->
        <!--　-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--　　　-->
        <!--<button type="submit" class="btn btn-primary">提交</button>-->
        <!--　-->
    <!--</div>-->
<!--</form>-->


<!--<div class="mdui-container" style="margin-top: 25px;text-align: center">-->
    <!--<div class="mdui-row" style="min-height: 500px">-->
        <!--<form id="addForm" action="" method="post">-->
            <!--<h2>{{content_dict.handle_name}}</h2>-->
            <!--<p>-->
                <!--url：<input type="text" name="source_url" id="source_url"/>-->
            <!--</p>-->
            <!--<p>-->
                <!--img：<input type="text" name="source_img" id="source_img"/>-->
            <!--</p>-->
            <!--<p>-->
                <!--name：<input type="text" name="source_name" id="source_name"/>-->
            <!--</p>-->

        <!--</form>-->
        <!--<button type="button" id="submitAdd">提交</button>-->
    <!--</div>-->
<!--</div>-->

<!--<script type="text/javascript">-->
<!--$("#submitAdd").click(function () {-->

<!--var targetUrl = $("#addForm").attr("action");-->
<!--var data = $("#addForm").serialize();-->
<!--$.ajax({-->
<!--type: 'post',-->
<!--url: 'http://127.0.0.1:5000/api/add'-->
<!--cache: false,-->
<!--data: data,-->
<!--dataType: 'json',-->
<!--success: function (data) {-->
<!--alert('success');-->
<!--},-->
<!--error: function () {-->
<!--alert("请求失败")-->
<!--}-->
<!--})-->

<!--})-->
<!--</script>-->



